
button {
    position: relative;
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 100%;
    min-height: 48px;
    border: 1px solid #e9e9eb;
    border-radius: 3px;
    cursor: pointer;
    color: #1b264f;
    background-color: #fff;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: border-color .12s;

    font-family:"lato", "Helvetica Neue", sans-serif;
    font-weight:700;
    padding-bottom:4px;
}
button:hover {
    color: #2152a3;
    background-color: #f9f9fa;
}

.headline {
    font-size:14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.session {
    display: block;
    margin-bottom: 6px;
}

.session__time {
    font-weight: 400;
    display: inline-block;
}
.session__name {
    font-weight: 400;
    display: inline-block;
}